<div class="card-wrapper">
    <h3 class="card-title">Order Summary</h3>
    <table class="single-row-table">
        <tbody>
            <tr>
                <td>
                    <h2>1256k</h2>
                    <p>On delivery</p>
                </td>
                <td>
                    <h2>1256k</h2>
                    <p>On delivery</p>
                </td>
                <td>
                    <h2>1256k</h2>
                    <p>On delivery</p>
                </td>
                <td>
                    <h2>1256k</h2>
                    <p>On delivery</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer" fxLayout="row" fxLayoutAlign="space-between center">
        <h3>New Order</h3>
        <div class="amount-wrapper">
            <h4>25k</h4>
        </div>
        <div class="order-action">
            <span>View All</span>
            <mat-icon>arrow_right</mat-icon>
        </div>
    </div>
</div>