<div class="mat-elevation-z0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> Company </th>
            <td mat-cell *matCellDef="let element"> {{element.company.name}} </td>
        </ng-container>
        <ng-container matColumnDef="client">
            <th mat-header-cell *matHeaderCellDef> Client </th>
            <td mat-cell *matCellDef="let element"> {{element.client.firstName}} {{element.client.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Products </th>
            <td mat-cell *matCellDef="let element"> {{element.orderProducts.length}} </td>
        </ng-container>

        <ng-container matColumnDef="deliveryDate">
            <th mat-header-cell *matHeaderCellDef>Delivery</th>
            <td mat-cell *matCellDef="let element"> {{element.deliveryDate}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element"> ${{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status</th>
            <td mat-cell *matCellDef="let element">
                <span class="badge badge-{{element.status.name}}">{{element.status.name}}</span>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <div class="table-action-wrapper">
                    <a class="btn" routerLink="/view-order/{{element.company.id}}/{{element.id}}"
                        matTooltip="View Order" matTooltipPosition="above" mat-mini-fab color="primary">
                        <mat-icon>visibility</mat-icon>
                    </a>
                    <button (click)="cancelOrder(element.id)" matTooltip="Cancel Order" matTooltipPosition="above"
                        mat-mini-fab class="btn-danger">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button (click)="completeOrder(element.id)" matTooltip="Complete Order" matTooltipPosition="above"
                        mat-mini-fab class="btn-success">
                        <mat-icon>check</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>