<app-addons-table></app-addons-table>
<!-- <div class="categories-wrapper" fxLayout="row wrap">
    <mat-card (click)="addAddon()" fxLayout="row" fxFlex="20" fxLayoutAlign="space-between center" class="add-new">
        <h2 style="margin:0">Add New</h2>
        <mat-icon class="add-icon">add_circle</mat-icon>
    </mat-card>
    <mat-card fxLayout="row wrap" *ngFor="let addon of addons" fxFlex="25" class="cat-item"
        fxLayoutAlign="space-between center">
        <div class="name-wrapper" fxFlex="60" fxLayoutAlign="flex-start center" fxLayout="row">
            <mat-icon class="fastfood">post_add</mat-icon>
            <span>{{addon.name}}</span>
        </div>
        <div fxFlex="40" fxLayoutAlign="flex-end center">
            ${{addon.price}}
        </div>
        <div fxLayoutAlign="flex-end center" fxFlex="100">
            <mat-icon (click)="editAddon(addon.id)" class="edit-icon">edit</mat-icon>
            <mat-icon (click)="deleteAddon(addon.id)" class="clear-icon">clear</mat-icon>
        </div>
    </mat-card>
</div> -->