<div class="mat-elevation-z0">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Company Name</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="imprint">
            <th mat-header-cell *matHeaderCellDef> Imprint </th>
            <td mat-cell *matCellDef="let element"> {{element.imprint}} </td>
        </ng-container>

        <ng-container matColumnDef="minDeliveryAmount">
            <th mat-header-cell *matHeaderCellDef> Min Delivery Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.minDeliveryAmount}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Active</th>
            <td mat-cell *matCellDef="let element">
                <mat-slide-toggle (change)="onChangeToggle(element.id,$event)"
                    [checked]="element.status == 'Active' ? true : false">
                </mat-slide-toggle>
            </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <div class="table-action-wrapper">
                    <button matTooltip="View Company" (click)="viewCompany(element.id)" matTooltipPosition="above"
                        mat-mini-fab color="primary">
                        <mat-icon>visibility</mat-icon>
                    </button>
                    <button matTooltip="Edit Company" (click)="editCompany(element.id)" matTooltipPosition="above"
                        mat-mini-fab color="accent">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button matTooltip="Delete Company" (click)="deleteCompany(element.id)" matTooltipPosition="above"
                        mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>