.card-wrapper {
    background: white;
    border-radius: 15px;
    padding: 20px;
}

.card-title h3 {
    font-weight: 500;
}

.menu-wrapper {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: gainsboro;
    margin-bottom: 10px;
}

.menu-img {
    width: 60px;
    height: 60px;
    background: gray;
    border-radius: 10px;
    margin-right: 10px;
}

h4.menu-name {
    margin: 0;
}

h5.menu-price {
    margin: 0;
    font-size: 12px;
}

.menu-details {
    flex: 1;
}

p.number {
    margin: 0;
    color: #ff8100;
    font-size: 16px;
}

p.menu-orders {
    margin: 0;
}

.menu-order {
    height: 100%;
    align-self: flex-end;
}