<div class="card-wrapper">
    <div class="card-title">
        <h3>Daily Trending Menus ({{fetched}})</h3>
    </div>

    <div class="menu-wrapper">
        <div class="menu-img"></div>
        <div class="menu-details">
            <h4 class="menu-name">Sweet cheezy pizza for Meal (smail )</h4>
            <h5 class="menu-price">$5.6</h5>
        </div>
        <div class="menu-order">
            <p class="number">#1</p>
            <p class="menu-orders">56x</p>
        </div>
    </div>
    <div class="menu-wrapper">
        <div class="menu-img"></div>
        <div class="menu-details">
            <h4 class="menu-name">Sweet cheezy pizza for Meal (smail )</h4>
            <h5 class="menu-price">$5.6</h5>
        </div>
        <div class="menu-order">
            <p class="number">#1</p>
            <p class="menu-orders">56x</p>
        </div>
    </div>
    <div class="menu-wrapper">
        <div class="menu-img"></div>
        <div class="menu-details">
            <h4 class="menu-name">Sweet cheezy pizza for Meal (smail )</h4>
            <h5 class="menu-price">$5.6</h5>
        </div>
        <div class="menu-order">
            <p class="number">#1</p>
            <p class="menu-orders">56x</p>
        </div>
    </div>

</div>