<div class="card-wrapper" fxLayout="row" fxLayoutGap="20px">
    <div class="single-card" fxFlex="25">
        <div class="card-inner">
            <div class="card-icon">
                <mat-icon>list</mat-icon>
            </div>
            <div class="card-details">
                <h1>2560</h1>
                <p>Total Menus</p>
            </div>
        </div>
    </div>

    <div class="single-card" fxFlex="25">
        <div class="card-inner">
            <div class="card-icon">
                <mat-icon>attach_money</mat-icon>
            </div>
            <div class="card-details">
                <h1>2560</h1>
                <p>Total Menus</p>
            </div>
        </div>
    </div>

    <div class="single-card" fxFlex="25">
        <div class="card-inner">
            <div class="card-icon">
                <mat-icon>insert_chart</mat-icon>
            </div>
            <div class="card-details">
                <h1>2560</h1>
                <p>Total Menus</p>
            </div>
        </div>
    </div>

    <div class="single-card" fxFlex="25">
        <div class="card-inner">
            <div class="card-icon">
                <mat-icon>ramen_dining</mat-icon>
            </div>
            <div class="card-details">
                <h1>2560</h1>
                <p>Total Menus</p>
            </div>
        </div>
    </div>
</div>